BODY{
FONT-FAMILY:TIMES NEW ROMAN;
FONT-SIZE:1.2EM;
}
#OUTSIDE{
BACKGROUND-COLOR:LIGHTGOLDENRODYELLOW;
PADDING-TOP:25PX;
PADDING-BOTTOM:25PX;
BORDER:1PX;
}
H2{
FONT-SIZE:1.25EM;
COLOR:BLUE;
}
FORM{
PADDING:1EM;
MARGIN:0 AUTO;
WIDTH:70%;
BORDER:1PX SOLID;
BORDER-RADIUS:1EM;
}
#SURVEY-FORM{
BACKGROUND-COLOR:WHITE;
}
FIELDSET{
MARGIN:10PX;
BORDER:1PX SOLID;
}
LEGEND{
FONT-WEIGHT:700;
}
DIV+DIV{
MARGIN-TOP:1EM
}
INPUT, TEXTAREA{
WIDTH:200PX;
BORDER:1PX SOLID;
}
INPUT:FOCUS, TEXTAREA:FOCUS{
BORDER-COLOR:ORANGERED;
}
TEXTAREA{
VERTICAL-ALIGN:TOP;
HEIGHT:5EM;
RESIZE:VERTICAL;
}
BUTTON{
MARGIN:.5EM;
FONT-SIZE:1EM;
COLOR:WHITE;
BORDER:NONE;
BACKGROUND-COLOR:BLACK;
PADDING:5PX;
BORDER-RADIUS:2PX;
}
#SUBMITBUTTON{
DISPLAY:FLEX;
JUSTIFY-CONTENT:CENTER;
}




