body{
font-family:aries;
font-size:1.2em;
}
#outside{
 padding-top:25px;
 padding-bottom:25px;
 background-color:lightyellow;
 border:2px;
 }
 h2{
 font-size:1.2em;
 color:red;
 }
 form{
 padding:25px;
 margin:0 auto;
 border-radius:1em;
 width:80%;
 border:2px solid;
 }
 #APPLICATION FORM{
 background-color:offwhite;
 }
 div+div{
 padding-top:.5em;
 margin:10px;
 margin-top:1.5em;
 font-size:0;
 letter-spacing:1px;
 }
 label > radio{
 padding:1em;
 margin:10px;
 margin-top:1.5em;
 padding-top:25px;
 padding-bottom:25px;
 }
 
 input:focus {
border-color:orangered;
}
 input, text{
 border:1px solid;
 width:250px;
 }
 button{
 margin:.5EM;
font-size:1EM;
color:blue;
background-color:BLACK;
padding:5PX;
border-radius:2PX;
}
#submitbutton{
text-align:center;
}
button:hover{
color:white;
background:black;
}
