body{
font-size:1.2em;
font-family:calibri;
}
#outside{
border:2px solid;
padding-top:25px;
padding-bottom:25px;
margin:5px;
background-color:lightpink;
}
h2{
font-size:1.2em;
color:red;
}
form{
border:2px solid;
padding:10px;
margin:10px;
}
#login page{
margin:10px;
padding:10px;
}
div{
margin:0 auto;
padding-top:25px;
padding-bottom:25px;
margin:10px;
border:1 px solid;
}
text{
background-color:offwhite;
}
input,text{
padding:10px;
margin:10px;
width:200px;
border:1px solid;
}

button{
text-align:left;
}
button:hover{
	color:white;
	background:black;
}
h2:hover{
	color:white;
	background:black;
}