body{
font-size:1.2em;
font-family:calibri;
background-color:rgba(255, 99, 71, 0.5);
}
#outside{
border:2px solid black;
padding-top:25px;
padding-bottom:25px;
margin:5px;
background-color:rgb(238, 130, 238);

}
h2{
font-size:1.4em;
font-family:arial;
color:red;
}
h2:hover{
	color:blue;
}
h3{
color:darkgreen;
}
h3:hover{
color:brown;
}

input,text{
width:800px;
height:25px;
padding:25px;
margin:10px;
}
	
form{
 padding:25px;
 margin:0 auto;
 border-radius:1.5em;
 width:95%;
}
 
 #resto menu{
 background-color:tomato;
 }
 p{
 color:white;
 background-color:offpink;
 }
 #cuisine{
width:400px;
height:50px;
 }
 button{

color:black;
background-color:orange;
}
#price{
width:240px;
height:100px;
}

button:hover{
color:black;
background:pink;
}