@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung', cursive;
    font-size: 20px;
    padding:0;
    margin:5px;
    overflow:auto;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
    color:cyan;
}
#navbar li a:hover{
    color: blue;  
}
.container{
    min-height: 70vh;
    justify-content: center;
    
}
h1{
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    color:#6c5e4c;
    font-family: 'Yeon Sung', cursive;

}

.myForm{
    justify-content: center;
    align-items: center;
    width:100%;
}
.myInput{
    width:40%;
    padding:10px;
    margin: 8px;
    font-size:15px ;
    border:2px solid #af2626;

}
.btn{
    font-size: 15px;
    border:2px solid #8463e6;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    margin:5px;
    
}
#footer{
    color:coral;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    padding-top:18px;
    margin:5px auto;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
}
