@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
#navbar{
    background-color: #d43b3b;
    font-family: 'Yeon Sung', cursive;
    font-size: 20px;
    padding:0;
    margin:5px;
    overflow:auto;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
    color:cyan;
}
#navbar li a:hover{
    color: blue;  
}
#introSection{
    color: plum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:cursive;
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/pic1.jpg") ;
    height: 400px;
    background-color: red;
}
#introSection div.small{
    font-size: 21px;
    font-family:sans-serif;
}

#missionSection{
    height: 400px;; 
    width: 99%;
    margin: 10px;
    background-color: blanchedalmond;
    overflow: auto;
    
}

#missionSection h2{
    font-size: 40px;
    font-family: 'Yeon Sung' ;
    text-align: center;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 8px 10px auto;
    height: 230px;
    display:inline-block;
    background-color: burlywood;
}
    
.card h3{
    text-align: center;
    margin: 5px 10px;
    margin-top: 24px;
    font-family:'yeon sung';
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 150px;
    padding: 0 15px;
    margin: 9px 9px;
}
.card-img img{
    height: inherit; 
}
#sponsorsSection{
    height: 300px;
    background-color: #8a3f3fc7;
    margin-top:0 auto;
    padding:1px;
}
#sponsorsSection h2{
    text-align: center;
    color:black;
    font-size:30px;
    font-family: 'yeon sung', cursive;
}
#sponsors{
    height: 191px;
    max-width: 1000px;
    margin:24px  auto;
}
.spImage{
    height: 141px;
    margin: 10px;
    
}

#footer{
    color:coral;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    padding-top:18px;
    margin:5px auto;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: center;
}
